@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply min-h-svh bg-zinc-100 text-zinc-600 antialiased dark:bg-zinc-950 dark:text-zinc-400;
  }

  #root {
    @apply flex min-h-svh w-full max-w-full flex-col;
  }

  ::selection {
    @apply bg-blue-600/25 text-zinc-900 dark:bg-blue-400/30 dark:text-zinc-50;
  }
}
